a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

ul {
  list-style: none;
}

.diary-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.diary-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.diary-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.diary-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.diary-img {
  width: 33vh;
  height: 33vh;
}

.diary-img-content {
  position: relative;
}

.diary-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.diary-name {
  font-size: 2.5vh;
}

